<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12" ng-controller="UserController">
	<div ng-controller="TweetController">
		<div class="panel panel-default">
			<div class="panel-body">
				<form ng-submit="addTweet()" name="postTweet">
					<input type="text" name="inputTweet" placeholder="Please enter your tweet and press Enter" class="form-control" ng-model="tweet.text" required/>
				</form>
			</div>
		</div>
		<div ng-show="countTweets" class="panel panel-default">
			<div class="panel-body">
				<div class="row" ng-repeat="tweet in tweets">
					<div class="tweet-panel panel panel-default">
						<div class="panel-body">
							<button type="button" class="close" aria-label="Close" ng-click="removeTweet(tweet._id)">
									<span aria-hidden="true">&times;</span>
							</button>
							<div class="col-md-1 col-xs-12">
								<img ng-src="/images/{{user.image}}" width="50px" height="50px">
							</div>
							<div class="col-md-11 col-xs-12">
								<div><p>@{{user.username}} - {{tweet.timeAgo}}</p></div>
								<div>
									<!-- Tweet-->
									<p>{{tweet.text}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>